<h1>Enter a number to coinify</h1>
<form action="/coins">
  <div class="form-group">
     <label for="amount">Starting number to coinify</label>
     <input id="amount" name="amount" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Coinify</button>
</form>
