<!-- <form action="/action">
  <div class="form-group">
     <label for="amount">Amount due:</label>
     <input id="amount" name="amount" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Coinify</button>
</form> -->
